<% content_for :header_tags do %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

   <style>
    /* Caja cerrada (lo que se ve cuando el combo NO está desplegado) */
    body.controller-timesheets .select2-container--default .select2-selection--single {
      background-color: #ffffff !important;
      border: 1px solid #555555 !important;
      border-radius: 3px !important;
      height: 28px !important;
    }

    body.controller-timesheets .select2-container--default .select2-selection--single .select2-selection__rendered {
      background-color: #ffffff !important;
      color: #222222 !important;
      line-height: 26px !important;
      padding-left: 6px !important;
      font-weight: 500;
    }

    body.controller-timesheets .select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 26px !important;
    }

    /* Lista desplegable (opciones) */
    body.controller-timesheets .select2-container--default .select2-results__option {
      background-color: #ffffff;
      color: #333333;
    }

    body.controller-timesheets .select2-container--default .select2-results__option--highlighted[aria-selected] {
      background-color: #e0f0ff !important;
      color: #000000 !important;
    }
  </style>


  <script>
    document.addEventListener('DOMContentLoaded', function() {
      if (typeof $ !== 'undefined' && $.fn.select2) {
        $('select.timesheets-select').select2({
          width: 'style',
          allowClear: true,
          placeholder: ''
        });
      }
    });
  </script>
<% end %>


<h2><%= l(:label_timesheets) %></h2>

<%= form_tag(timesheets_path, method: :get, id: 'query_form') do %>
  <div class="box tabular" style="background-color: #f6f6f6; padding: 10px; border: 1px solid #e4e4e4;">

        <p>
      <!-- Proyecto / Grupos -->
      <%= radio_button_tag 'filter_type', 'project', @filter_type == 'project',
            id: 'filter_type_project', onchange: 'this.form.submit();' %>
      <span style="font-weight:bold; margin-right:4px;">Proyecto</span>

      <%= select_tag 'project_id',
            options_from_collection_for_select(@projects, 'id', 'name', @project.try(:id)),
            prompt: '--- Seleccione un Proyecto ---',
            onchange: 'this.form.submit();',
            class: 'timesheets-select' %>

      &nbsp;&nbsp;

      <%= radio_button_tag 'filter_type', 'group', @filter_type == 'group',
            id: 'filter_type_group', onchange: 'this.form.submit();' %>
      <span style="font-weight:bold; margin-right:4px;">Grupos</span>

      <%= select_tag 'group_id',
            options_from_collection_for_select(@groups, 'id', 'lastname', @group.try(:id)),
            include_blank: true,
            onchange: 'this.form.submit();',
            class: 'timesheets-select' %>

      &nbsp;&nbsp;

      <!-- Miembro -->
      <span style="font-weight:bold; margin-right:4px;">Miembro</span>
      <% user_options = @users_for_filter.map { |u| [u.name, u.id] } %>
      <%= select_tag 'user_id',
            options_for_select([['All Users', '']] + user_options, @selected_user.try(:id)),
            disabled: @users_for_filter.blank?,
            class: 'timesheets-select' %>

      <span style="float:right;">
        <%= link_to 'New Timesheet', '#', class: 'icon icon-add' %>
      </span>
    </p>

    <p>
      <label style="font-weight: bold;">Rango de fechas:</label>

      <% range_options = [
        ['all time',      'all_time'],
        ['esta semana',   'this_week'],
        ['última semana', 'last_week'],
        ['este mes',      'this_month'],
        ['último mes',    'last_month'],
        ['este año',      'this_year'],
        ['Custom Range',  'custom']
      ] %>

      <%= select_tag 'range_type',
            options_for_select(range_options, @range_type),
            onchange: 'this.form.submit();' %>

      &nbsp;&nbsp;

      <span style="font-weight:bold; margin-right:4px;">Desde</span>
      <%= date_field_tag 'from',
            (@from_date || Date.today.beginning_of_week),
            size: 10,
            disabled: (@range_type != 'custom') %>

      &nbsp;&nbsp;

      <span style="font-weight:bold; margin-right:4px;">hasta</span>
      <%= date_field_tag 'to',
            (@to_date || Date.today),
            size: 10,
            disabled: (@range_type != 'custom') %>

      &nbsp;&nbsp;

      <%= submit_tag 'Aceptar', class: 'small', name: nil %>
    </p>


  </div>
<% end %>

<% if @users.blank? %>
  <p class="nodata">
    <% if @filter_type == 'project' && !@project %>
      Por favor, seleccione un proyecto arriba para ver las hojas de tiempo.
    <% elsif @filter_type == 'group' && !@group %>
      Por favor, seleccione un grupo arriba para ver las hojas de tiempo.
    <% else %>
      No hay usuarios para el filtro seleccionado.
    <% end %>
  </p>
<% else %>

  <div class="autoscroll">
    <p>Total: <b><%= l_hours(@total_hours || 0.0) %></b></p>

    <table class="list timesheets">
      <thead>
        <tr>
          <th>Semana</th>
          <th>Fecha de inicio</th>
          <th>Usuario</th>
          <th>Horas</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td><%= @start_of_week.cweek %></td>
            <td><%= format_date(@start_of_week) %></td>
            <td><%= link_to_user user %></td>
            <% hours = (@user_hours[user.id] || 0.0).to_f %>
            <td align="center"><%= l_hours(hours) %></td>
            <td align="center"><%= hours > 0 ? 'Nuevo' : 'Empty' %></td>
            <td class="buttons">
              <%= link_to image_tag('edit.png'),
              edit_timesheet_path(
                user_id: user.id,
                start_date: @start_of_week,
                project_id: @project&.id
              ),
              title: 'Editar' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
