<h2><%= l(:label_timesheets) %></h2>

<%= form_tag(timesheets_path, method: :get, id: 'query_form') do %>
  <div class="box tabular" style="background-color: #f6f6f6; padding: 10px; border: 1px solid #e4e4e4;">

        <p>
      <!-- Proyecto / Grupos -->
      <%= radio_button_tag 'filter_type', 'project', @filter_type == 'project',
            id: 'filter_type_project', onchange: 'this.form.submit();' %>
      <span style="font-weight:bold; margin-right:4px;">Proyecto</span>

      <%= select_tag 'project_id',
            options_from_collection_for_select(@projects, 'id', 'name', @project.try(:id)),
            prompt: '--- Seleccione un Proyecto ---',
            onchange: 'this.form.submit();' %>

      &nbsp;&nbsp;

      <%= radio_button_tag 'filter_type', 'group', @filter_type == 'group',
            id: 'filter_type_group', onchange: 'this.form.submit();' %>
      <span style="font-weight:bold; margin-right:4px;">Grupos</span>

      <%= select_tag 'group_id',
            options_from_collection_for_select(@groups, 'id', 'lastname', @group.try(:id)),
            include_blank: true,
            onchange: 'this.form.submit();' %>

      &nbsp;&nbsp;

      <!-- Miembro -->
      <span style="font-weight:bold; margin-right:4px;">Miembro</span>
      <% user_options = @users_for_filter.map { |u| [u.name, u.id] } %>
      <%= select_tag 'user_id',
            options_for_select([['All Users', '']] + user_options, @selected_user.try(:id)),
            disabled: @users_for_filter.blank? %>

      <span style="float:right;">
        <%= link_to 'New Timesheet', '#', class: 'icon icon-add' %>
      </span>
    </p>

    <p>
      <label style="font-weight: bold;">Rango de fechas:</label>

      <% range_options = [
        ['all time',      'all_time'],
        ['esta semana',   'this_week'],
        ['última semana', 'last_week'],
        ['este mes',      'this_month'],
        ['último mes',    'last_month'],
        ['este año',      'this_year'],
        ['Custom Range',  'custom']
      ] %>

      <%= select_tag 'range_type',
            options_for_select(range_options, @range_type),
            onchange: 'this.form.submit();' %>

      &nbsp;&nbsp;

      <span style="font-weight:bold; margin-right:4px;">Desde</span>
      <%= date_field_tag 'from',
            (@from_date || Date.today.beginning_of_week),
            size: 10,
            disabled: (@range_type != 'custom') %>

      &nbsp;&nbsp;

      <span style="font-weight:bold; margin-right:4px;">hasta</span>
      <%= date_field_tag 'to',
            (@to_date || Date.today),
            size: 10,
            disabled: (@range_type != 'custom') %>

      &nbsp;&nbsp;

      <%= submit_tag 'Aceptar', class: 'small', name: nil %>
    </p>


  </div>
<% end %>

<% if @users.blank? %>
  <p class="nodata">
    <% if @filter_type == 'project' && !@project %>
      Por favor, seleccione un proyecto arriba para ver las hojas de tiempo.
    <% elsif @filter_type == 'group' && !@group %>
      Por favor, seleccione un grupo arriba para ver las hojas de tiempo.
    <% else %>
      No hay usuarios para el filtro seleccionado.
    <% end %>
  </p>
<% else %>

  <div class="autoscroll">
    <p>Total: <b>0,00 hora</b></p>

    <table class="list timesheets">
      <thead>
        <tr>
          <th>Semana</th>
          <th>Fecha de inicio</th>
          <th>Usuario</th>
          <th>Horas</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td><%= @start_of_week.cweek %></td>
            <td><%= format_date(@start_of_week) %></td>
            <td><%= link_to_user user %></td>
            <td align="center">0.00</td>
            <td align="center">Empty</td>
            <td class="buttons">
               <%= link_to image_tag('edit.png'), '#', title: 'Editar' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
